[package]
name = "rp2040-dshot"
version = "0.1.0"
edition = "2024"
license = "AGPL-3.0-or-later"
description = "DShot protocol implementation for RP2040 using PIO"
keywords = ["embedded", "rp2040", "dshot", "esc", "pio"]
categories = ["embedded", "no-std"]

[dependencies]
embassy-rp = { workspace = true }
embassy-time = { workspace = true }
defmt = { workspace = true }
static_cell = { workspace = true }
portable-atomic = { workspace = true }
dshot-frame = "0.2.1"
pio = "0.3.0"
thiserror-no-std = "2.0.2"
embassy-executor = { version = "0.9.1", features = [
    "defmt",
    "arch-cortex-m",
    "executor-thread",
    "executor-interrupt",
] }
embassy-sync = "0.7.2"
pastey = { workspace = true }
num_enum = { version = "0.7.5", default-features = false }


[target.'cfg(all(target_arch = "arm", target_os = "none"))'.dependencies]
portable-atomic = { version = "1.1.1", features = ["unsafe-assume-single-core"] }
